{{HOOK_NAME}}
Copyright {{YEAR}} Seon Kuraito

This hook is derived from "{{UPSTREAM_NAME}}", part of {{UPSTREAM_PROJECT}}
({{UPSTREAM_URL}}), licensed under {{LICENSE}}. A copy of the license is
included in LICENSE.

Original work:
  {{UPSTREAM_COPYRIGHT}}

This derivative modifies the original. Notable changes:
  - {{CHANGE}}
  - {{CHANGE}}

{{#VERBATIM_REUSE}}
The bundled scripts/ are carried substantially unmodified from {{UPSTREAM_NAME}}.
{{/VERBATIM_REUSE}}
