{
  "folders": [
    { "name": "{{MEMBER_PREFIX}}meta", "path": "./{{MEMBER_PREFIX}}meta" },
{{MEMBER_WORKSPACE_FOLDERS}}
  ],
  "settings": {
    "terminal.integrated.cwd": "${workspaceFolder:{{MEMBER_PREFIX}}meta}"
  }
}
